<?xml version="1.0"?>
<config>
    <modules>
        <Newsletter_Newsletter>
            <version>0.0.1</version>
        </Newsletter_Newsletter>
    </modules>
	<frontend>
		<routers>
			<newsletter>
				<use>standard</use>
				<args>
					<module>Newsletter_Newsletter</module>
					<frontName>newsletter</frontName>
				</args>
			</newsletter>
		</routers>
	</frontend>
    <global>
        <models>
            <newsletter_mysql4>
                <rewrite>
                    <subscriber>Newsletter_Newsletter_Model_RW_Newsletter_Resource_Subscriber</subscriber>
                </rewrite>
            </newsletter_mysql4>
        </models>
		<rewrite>        
            <newsletter_newsletter_newsletter_subscribercontroller>
                <from><![CDATA[#^/newsletter/subscriber/#]]></from>
                <to>/newsletter/newsletter_subscriber/</to>
            </newsletter_newsletter_newsletter_subscribercontroller>
		</rewrite>
		<helpers>
			<newsletter>
				<class>Mage_Newsletter_Helper</class>
			</newsletter>
		</helpers>
    </global>
	<admin>
		<routers>
			<newsletter>
				<use>admin</use>
				<args>
					<module>Newsletter_Newsletter</module>
					<frontName>newsletter</frontName>
				</args>
			</newsletter>
		</routers>
	</admin>
</config>
